<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">


        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    </div>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" th:href="@{/index}">MyBlog</a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul th:if="${session.user}" class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/blog}">Opret Blog <span class="sr-only">(current)</span></a>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Log ud <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <form class="form-inline mt-2 mt-md-0" action="/login" method="post">>
            <input class="form-control mr-sm-2" type="text" placeholder="username" name="username">
            <input class="form-control mr-sm-2" type="password" placeholder="password" name="password">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
    </nav>
</div>


</body>
</html>